@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;500;600;700&display=swap');

:root {
  --primary-color: #0DCDAA; 
  --light-grey: #8f8f8f; 
}

body {
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}

p {
  /* display: flex;
  flex-direction: row-reverse; */
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

h3 {
  margin: 0;
  text-align: end;
}

.container {  
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  /* align-items: center; */
  margin-bottom: 5rem;
}

.main {
  width: 100%;
  margin-bottom: 2rem;
}

.header {
  width: 100%;
}

/* Navbar */

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 85px;
  width: 100%;
  background-color: #F2F2F2;
  display: flex; 
  justify-content: space-around;
  align-items: center;
  overflow-y: hidden;
}

.navbarItems {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; 
  margin: 0;
  padding: 0;
}

.navItem {
  display: flex;
  flex-direction: column;
  color: #8f8f8f;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem; 
  font-weight: 700;
}

.navItemActive {
  color: #000000;
}

.navItemText {
  /* font-size: 1.6rem; */
  margin: 0.5rem;
}


/* Sign In */

.pageHeader {
  font-size: 2.4rem;
  font-weight: 700;
  margin-top: 3rem;
  text-align: end;
}

.signInPage {
  display: flex;
  flex-direction: column;
}

.signInForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;
}

.inputItem {
  /* width: 100%; */
  display: flex;
  flex-direction: row-reverse;
}

.inputLabel {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0 0.8rem 0.5rem 0.8rem;
  text-align: end;
}

.input {
  height: 4rem;
}

.input, .bioArea {
  border: none;
  border: 1px solid lightgray;
  border-radius: 10px;
  width: 90%;
  font-size: 1.1rem;
  padding: 0 1rem;
  outline: none;
  margin: 0 0 1rem 1rem;
  transition: border ease 0.2s;
}

.input:focus, .bioArea:focus {
  border: 1px solid #000000;
}

.bioArea {
  border: 1px solid lightgrey;
  height: 200px;
  font-size: 18px;
}

.gotoSignInOrUp {
  display: flex;
  justify-content: center;

  color: rgb(111, 186, 171);
  font-size: 1rem;
  font-weight: 700;
}


/* Button */

.btn {
  margin: 0 0 0 1.2rem;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  height: 3rem;
  width: 75%;
}

.btnPrimary {
  background-color: var(--primary-color);
  color: #fff;
}

.contactUser {
  display: flex;
  justify-content: center;
  margin: 2rem 0 5rem 0;
}

.btnDiv {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.showPasswordDiv {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.showPasswordIcon, .showPasswordIconActive {
  cursor: pointer;
  font-size: 25px;
  position: absolute;
  top: 30%;
  left: 10%;
  transition: color ease 0.3s;
}

.showPasswordIcon {
  color: var(--light-grey)
}

.showPasswordIconActive {
  color: #000000;
}

.timeDateSelector {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}


/* Profile Page */

.profileHeader {
  margin-top: 2rem;
  font-size: 1.8rem;
  text-align: end;
  font-weight: 700;
}

.profileContainer {
  margin: 4rem 2rem; 
   
}

.profileBasicInfo {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.profilePicture {
  height: 5rem;
  border-radius: 50%;
}

.profilePersonalInfo {
  margin-right: 1.5rem;
  padding-right: 1.5rem;
  border-right: 1px solid #bbb;
}

.profileName {
  margin: 0;
  font-weight: 500;
  font-size: 1.4rem;
}

.profileItemGroup {
  color: #8f8f8f;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.profileItemGroupIcon {
  color: #5669FF;
  padding-left: 1rem;
}

.profileDetailedInfo {
  margin-top: 3rem;
}

.profileBioHeader {
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: end;
}

.profileBio {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.profileHobbiesList {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
}


.hobby {
  font-size: 1rem;
  width: 5rem;
  margin: 0.25rem 0.2rem;
  text-align: center;
  padding: 0.5rem 0;
  border-radius: 30px;
  color: #fff;
  background-color: #5669FF;
  list-style-type: none;
}

.invitationStatus {
  text-align: center;
  font-size: 1.1rem;
}

.imageUpload {
  margin-top: 1rem;
}


/* User Card */

.usersList {
  width: 100%;
  padding: 1.5rem 0;
}

.userCard {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgrey;
  border-radius: 1rem;
  padding: 10px 0;
  margin-bottom: 1rem;
  transition: border ease 0.3s;
}

.userCard:hover {
  border: 1px solid #999;
}

.userCardPic {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  margin: 0 1.5rem;
}

.userCardDetails {
  padding-right: 1.5rem;
  border-right: 1px solid lightgrey;
}

.userCardLocation, .preferedDays, .preferedTime {
  font-size: 0.7rem;
  opacity: 0.75;
}

.userCardName {
  font-size: 1.4rem;
  text-align: end;
}

.userCardGroup {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-size: 0.7rem;
}

.userCardIcon {
  padding-left: 0.3rem;
  color: #5669FF;
}

.userCardDescription {
  font-size: 0.75rem;
  padding-bottom: 0.3rem;
}

.userCardDate {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-left: 1rem;
}

@media screen and (min-width: 768px) {
  .userCardName {
    font-size: 2rem;
  }
  
  .userCardLocation, .preferedDays, .preferedTime {
    font-size: 1.2rem;
  }

  .userCardDescription {
    font-size: 1.4rem;
  }

}

.btnLoad {
  background-color: #5669FF;
  color: #fff;
  width: 14rem;
  border-radius: 100px;
}

.logoutBtn {
  background-color: #5669FF;
  color: #fff;
}


/* Home Page */

.homePage {

}

.homeHeading {
  margin-bottom: 3rem;
}

.homeCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  width: 100%;
}

.homeCardLink {
  width: 100%;
}


.homeCard {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 1rem;
  width: 100%;
  height: 30vh;
  font-size: 1.4rem;
  border-radius: 10px;
  background: linear-gradient(261deg, rgba(252,70,107,1) 0%, rgba(86,105,255,1) 100%);
  color: #fff;
}

.homeCard:hover {
  cursor: pointer;
}

.homeCardHeading {
  padding-right: 2rem;
}

@media screen and (min-width: 768px) {
  .homeCardHeading {
    font-size: 3.2rem;
  }
}


/* Invitations */

.invitationList {

}

.invitationCard {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightgrey;
  padding: 1.5rem 0.75rem;
  border-radius: 10px;
  margin-bottom: 0.7rem;
}

.invitationCardImage {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  /* margin-left: 2rem; */
}

.invitationCardDetails {
  /* margin-right: 2rem; */
}

.invitationCardName {
  font-size: 1.3rem;
  font-weight: 500;
}

.invitationCardDetailsDescription {
  font-size: 0.7rem;
  opacity: 0.8;
  text-align: start;
}

.invitationCardButtons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.invitationCardButtonsAccept, 
.invitationCardButtonsReject {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  padding: 0.8rem;
  border-radius: 5px;
  height: 1.4rem;
  width: 1.4rem;
  cursor: pointer;
}

.invitationCardButtonsAccept {
  margin-left: 0.5rem;
  color: #32CD32;
  background-color: #bfff6068;
}

.invitationCardButtonsReject {
  color: #ff0000;
  background-color: #ff656550;
}

@media screen and (min-width: 768px) {
  .invitationCardImage {
    width: 8rem;
    height: 8rem;
  }

  .invitationCardName {
    font-size: 3rem;
  }

  .invitationCardDetailsDescription {
    font-size: 1.4rem;
  }

  .invitationCardButtonsAccept, 
  .invitationCardButtonsReject {
  font-size: 2rem;
  padding: 0.8rem;
  height: 4rem;
  width: 4rem;
}
}

.centeredMessage {
  text-align: center;
  margin-top: 5rem;
}

.eventWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
}

.addEvent {
  margin-left: auto;
  cursor: pointer;
  font-size: 24px;
  background-color: #fee;
  padding: 1rem;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  outline: none;
  margin-bottom: 5rem;
}

.addEvent:hover {
  background-color: #ccc;
}